/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(120deg, #f6f9f6, #ffffff);
  color: #333;
  overflow-x: hidden;
}

/* Navbar */
header {
  background: #284d00;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
}

.logo {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}

.logo span {
  color: #ffb74d;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links .active, .nav-links .active:hover {
  color: #284d00;
  font-size: 1rem;
  background-color: #ffe082;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  margin-right: -0px;
}

.nav-links a:hover {
  font-size: 1rem;
  color: #ffe082;
}

/* Meal Section */
.meal-section {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.meal-container {
  max-width: 1000px;
  width: 100%;
  text-align: center;
}

.meal-container h2 {
  color: #356600;
  font-size: 2rem;
  margin-bottom: 10px;
}

.meal-container span {
  color: #ff9800;
}

.meal-container p {
  color: #666;
  margin-bottom: 30px;
}

/* Goal Buttons */
.goal-selection {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.goal-btn {
  background: linear-gradient(45deg, #356600, #356600);
  color: #fff;
  padding: 12px 25px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.goal-btn:hover {
  background: linear-gradient(45deg, #ff9800, #ff9800);
  transform: scale(1.05);
}

/* Meal Cards */
.meal-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.meal-card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.meal-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.meal-card h4 {
  color: #3cb371;
  margin-bottom: 10px;
}

.meal-card ul {
  list-style: disc inside;
}

.meal-card ul li {
  margin-bottom: 5px;
}

/* Footer */
footer {
  background: #284d00;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


/* Responsive */
/* @media(max-width: 650px){
  .goal-selection{
    flex-direction: column;
  }
} */
